extends emailBase 

block content 
    p Hi #{name},
        p Forget your password? If yes, click on the button below within the next 10 minutes to reset your password, and we will take care of the rest. If you did not forget your password, you may simply ignore this email.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${linkUrl}`, target='_blank') Reset password
        p If you have any problems resetting your password, one of our customer support representatives would be happy to assist you.
        p - #{from}, CEO