doctype html 
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content="width=device-width, initial-scale=1.0")
        title Natours | #{title}
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="")
        link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
        //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")

    body(data-alert=`${alert ? alert : ''}`) 
        // HEADER
        include _header

        block content

        //FOOTER
        include _footer

        script(src='/js/bundle.js') 
