extends base 

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset your password
            form.form-resetPassword(data-token=`${token}`)
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minLength='8')
                .form__group
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minLength='8')
                .form__group
                    button.btn.btn--green Submit